@import "../../src/css/scss/variable";
.b-services {
  margin-bottom: 50px;
  @media #{$md} {
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .b-services__wrap {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      //   justify-content: space-between;
      gap: 20px;
      @media #{$md} {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media #{$xs} {
        gap: 10px;
      }

      li {
        margin: 0;
        position: relative;
        width: calc(25% - 17px);
        background-color: var(--main2);
        text-align: center;
        @media #{$md} {
          width: calc(50% - 10px);
        }
        @media #{$sm} {
        }
        @media #{$xs} {
          width: calc(50% - 5px);
        }
        a.li-wrap {
          display: block;
          padding: 50px 50px;
          @media #{$sm} {
            padding: 30px 20px;
          }
          @media #{$xs} {
            width: calc(50% - 5px);
            padding: 15px;
          }
        }
        .ico {
          margin-bottom: 30px;
          transition: all 0.5s ease;
          @media #{$xs} {
            transform: translate(0, 0px) !important;
            max-width: 36px;
            height: auto;
            margin-bottom: 10px;
          }
        }
        h3 {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          margin: 0;
          padding: 0;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 500;
          transition: all 0.5s ease;
          color: var(--white);
          @media #{$xs} {
            transform: translate(0, 0px) !important;
            font-size: 14px;
          }
          //   margin-bottom: 30px;
          a {
            color: var(--white);
          }
        }
        .btn-rev {
          border-color: var(--white) !important;
          color: var(--white) !important;
          font-size: 13px !important;
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translate(-50%, 0);
          opacity: 0;
          //   height: 0px;
          transition: all 0.5s ease;
          @media #{$sm} {
            bottom: 15px;
            width: calc(100% - 20px);
          }
          @media #{$xs} {
            display: none !important;
          }
        }
        &:hover {
          background-color: var(--main);
          .ico {
            transform: translate(0, -20px);
          }
          h3 {
            transform: translate(0, -40px);
          }
          .btn-rev {
            opacity: 1;
            // height: 40px;
          }
        }
      }
      .cta {
        position: relative;
        width: calc(50% - 20px);
        background: transparent !important;
        text-align: left;
        padding: 0px;
        display: flex;
        gap: 15px;
        @media #{$md} {
          width: 100%;
        }
        @media #{$xs} {
          flex-wrap: wrap;
          gap: 0;
        }
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 70px;
          height: 100%;
          background-color: var(--main2);
          @media #{$xs} {
            width: 20px;
          }
        }
        .cta-img {
          align-self: flex-end;
          width: 30%;
          @media #{$sm} {
            width: 30%;
          }
          @media #{$xs} {
            width: 100%;
          }
          img {
            display: block;
            padding: 10px 0px 0 10px;
            width: 100%;
            height: auto;
            @media #{$sm} {
              width: 100%;
              max-width: 200px;
              height: auto;
            }
          }
        }
        .cta-content {
          padding: 20px 20px 20px 0;
          width: 70%;
          @media #{$sm} {
            padding: 20px 0;
          }
          @media #{$xs} {
            padding-left: 30px;
            width: 100%;
          }
          h4 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
          }
          p {
            transform: translate(0, 0) !important;
          }
          .cta-contact {
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$sm} {
              flex-wrap: wrap;
              gap: 10px;
            }
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.b-services.b-services-home {
  margin-top: -200px;
  @media #{$xs} {
    margin-top: -80px;
  }
  h2 {
    color: var(--white);
  }
}
.acf-block-preview .b-services-page,
.acf-block-preview .b-services-page {
  margin-top: 0px !important;
}

.b-services-page {
  margin-top: -230px;
  @media #{$xs} {
    margin-top: 0;
    padding-top: 30px;
  }
  h2 {
    color: var(--white);
    @media #{$xs} {
      color: var(--black);
    }
  }
}

#post-43564 {
  .entry-header {
    padding-bottom: 200px;
    @media #{$xs} {
      padding-bottom: 0;
    }
    .scroll-down {
      display: none;
    }
  }
}
