@import "../../src/css/scss/variable";

.b-info-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .b-info-contact__call {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .b-info-contact__item {
    display: flex;
    align-items: center;
    gap: 10px;
    @media #{$xs} {
      width: 100%;
    }

    .b-info-contact__item__con {
      .label {
        display: block;
        font-size: 12px;
        font-weight: normal !important;
        margin-bottom: 5px;
        color: var(--light-black) !important;
      }
      a,
      span:not(.label) {
        font-weight: 16px;
        font-weight: 500;
        color: var(--black);
      }
    }
  }
  .btn-rev {
    display: block;
    width: 100%;
  }
}
